<h3>Новое занятие.</h3>

Добрый день, {{ fullName }}! Новое занятие по вашей подписке: "{{ lessonType }}"<br/>
Название занятия: {{ lessonsName }}<br/>
Дата и время занятия: {{ time|date('Y-m-d H:i:s') }}<br/>
Комментарий к занятию: {{ comment }}<br/>

Если вы считаете что письмо пришло ошибочно, удалите его и проигнорируйте.<br/>